.quotations {
  margin-top: -10px;
  margin-bottom: 20px;
}

.quotations-header {
  display: flex;
  justify-content: end;
}

.quotations .ant-col {
  background-color: #fff !important;
}

.quotations .ant-col .ant-card-head {
  margin-bottom: 10px;
}

.left-border {
  border-left: 1px solid #e8e8e8;
}

.project-details {
  width: 100%;
  margin-right: 50px;
}

.project-details .ant-card-body {
  padding: 15px;
}

/* .project-details .gx-featured-content {
  padding: 15px 15px 15px 0;
} */