/*Quotation Tabs CSS*/
.gx-pill-badge-tabs .ant-tabs-nav-wrap {
  background: #ffffff;
  padding: 0.75rem;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 4px 2px 0 rgba(24, 94, 224, 0.15);
  border-radius: 99px;
}
.gx-pill-badge-tabs .ant-tabs-nav-list {
  width: 100%;
  justify-content: space-evenly;
}
.gx-pill-badge-tabs .ant-tabs-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  border-radius: 99px;
  transition: color 0.15s ease-in;
}
.ant-tabs-tab-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gx-pill-badge-tabs .ant-tabs-tab-active {
  border: none;
  z-index: 1;
}
.gx-pill-badge-tabs .ant-tabs-tab-active .ant-badge-count {
  background: #038fde;
  color: #ffffff;
}
.gx-pill-badge-tabs .ant-badge {
  margin: 0 0 0 8px;
}
.gx-pill-badge-tabs .ant-badge-count {
  background: #e6eef9;
  color: #545454;
}
.gx-pill-badge-tabs .ant-tabs-ink-bar {
  height: 100% !important;
  background: #e6eef9;
  z-index: 0;
  border-radius: 99px;
}
.gx-pill-badge-tabs .ant-tabs-nav::before {
  border: none;
}

/* Quotations View CSS*/
.quotations {
  margin-top: -10px;
  margin-bottom: 20px;
}

.quotations-header {
  display: flex;
  justify-content: end;
}

.quotations .ant-col .ant-card-head {
  margin-bottom: 10px;
}

.left-border {
  border-left: 1px solid #e8e8e8;
}

.project-details {
  width: 100%;
  margin-right: 50px;
}

.project-details .ant-card-body {
  padding: 15px;
}

.customCardHeight {
  height: 100vh;
}

.gx-card-quote-border {
  border: 1px solid #d9d9d9 !important;
  padding: 8px;
}

/*Quote Response Card Form CSS*/
.gx-progress-form .gx-d-flex .ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}
.gx-progress-form .ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.gx-card-widget .ant-card-head-title {
  text-align: center;
}
.gx-card-widget .ant-input-number {
  margin-right: 0;
}

.gx-card-bordered-title{
  border-bottom: solid 1px #d9d9d9;
  padding-bottom: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.gx-card-bordered-title:before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  height: 3px;
  width: 42px;
  background-color: #038fde;
}
.gx-grp-input .ant-form-item-control-input {
  min-height: 30px;
}
.gx-grp-input .ant-input-group-addon{
  padding: 0 4px;
}
.gx-text-break{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
}
.MuiGrid-root.Timeline-container-2{
  width: 0;
}
.Timeline-container-2.MuiTypography-h6{
  font-size: 1rem;
}
