.gx-progress-form .gx-d-flex .ant-form-item-control-input-content {
  display: flex;
  justify-content: center;
}
.gx-progress-form .ant-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.gx-card-widget .ant-card-head-title{
  text-align: center;
}
.gx-card-widget .ant-input-number{
  margin-right: 0;
}
